Description=Start_playit

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=screen -d -m playit
Restart=no
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
